<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="/dist/css/style.css"/>
    <link rel="stylesheet" href="/dist/css/libs.css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="dist/css/style.min.css"/>-->
    <!--[if lt IE 9]>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>

    <![endif]-->

</head>
<body>
<!--[if lt IE 8]>
<style>
    .browsehappy {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }
</style>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">
<div class="sections">
<section class="header">
    <div class="row">
        <div class="col-xs-4">
            <a href="index.html">
            <div class="header__logo-wrapper">
                <div class="header__logo">
                    <img class="img img-responsive header__logo-img" src="/dist/img/logo.png" alt=""/>

                    <p class="header__logo-text">
                        Изделия из меха
                    </p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
            <div class="header__menu-wrapper">
                <ul class="header__menu-list">
                    <li class="header__menu-list-item">
                        <a class="header__menu-list-item-link" href="#">Доставка и оплата
                        </a>
                    </li>
                    <li class="header__menu-list-item">
                        <a class="header__menu-list-item-link" href="#">Оптовым клиентам
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="header__menu-wrapper">
                <ul class="header__menu-list">
                    <li class="header__menu-list-item">
                        <a class="header__menu-list-item-link" href="#">О компании
                        </a>
                    </li>
                    <li class="header__menu-list-item">
                        <a class="header__menu-list-item-link" href="#">Контакты
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="header__phone-wrapper-container">
                <div class="header__phone-wrapper">
                    <a class="header__phone-link" href="#">
                        <span class="icon icon-phone header__phone-icon"></span>
                        8 (391) 245-56-43
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="menu">
    <nav>
        <ul class="menu__list">
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="catalog.html">
                    Женщинам
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="#">
                    Аксессуары
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="remont.html">
                    Ремонт одежды
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="poshiv.html">
                    Пошив на заказ
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="#">
                    Меховые шкурки
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="news.html">
                    Советы портного
                </a>
            </li>
        </ul>
    </nav>
</section>
<section class="slider">
    <div id="slides-container">
        <div class="slider__slide">
            <img class="slider__slide-img" src="/dist/img/slider-bg-1.jpg" alt=""/>

            <div class="slider__slide-content">
                <h3 class="slider__slide-content-title">
                    Новинки этого сезона!
                </h3>

                <p class="slider__slide-content-text">
                    Мы постоянно обновляем наш ассортимент
                </p>
                <a class="slider__slide-content-link" href="catalog.html">
                    Перейти в каталог
                </a>
            </div>
        </div>
        <div class="slider__slide">
            <img class="slider__slide-img" src="http://placehold.it/5250x550" alt=""/>

            <div class="slider__slide-content">
                <h3 class="slider__slide-content-title">
                    Пошив одежды на заказ
                </h3>

                <p class="slider__slide-content-text">
                    Мтоянно обновля Пошив одежды на заказ наш ассортимент
                </p>
                <a class="slider__slide-content-link" href="poshiv.html">
                    Перейти в каталог
                </a>
            </div>
        </div>
        <div class="slider__slide">
            <img class="slider__slide-img" src="/dist/img/slider-bg-1.jpg" alt=""/>

            <div class="slider__slide-content">
                <h3 class="slider__slide-content-title">
                    Ремонт одежды
                </h3>

                <p class="slider__slide-content-text">
                    Мы постоянно сортимент
                </p>
                <a class="slider__slide-content-link" href="remont.html">
                    Перейти в каталог
                </a>
            </div>
        </div>
        <div class="slider__slide">
            <img class="slider__slide-img" src="/dist/img/slider-bg-1.jpg" alt=""/>

            <div class="slider__slide-content">
                <h3 class="slider__slide-content-title">
                    Меховые шкурки
                </h3>

                <p class="slider__slide-content-text">
                    Мы постоянно сортимент
                </p>
                <a class="slider__slide-content-link" href="#">
                    Перейти в каталог
                </a>
            </div>
        </div>
    </div>
    <div  class="slider__controls">
        <ul id="slides-controls" class="slider__controls-list">
            <li class="slider__controls-list-item active">
                <a>Новинки этого сезона</a>
            </li>
            <li class="slider__controls-list-item">
                <a>Пошив одежды на заказ</a>
            </li>
            <li class="slider__controls-list-item">
                <a>Ремонт одежды</a>
            </li>
            <li class="slider__controls-list-item">
                <a>Меховые шкурки</a>
            </li>
        </ul>
    </div>
</section>
<section class="menu-catalog">
    <nav>
        <div class="row">
            <div class="menu-catalog__item-col menu-catalog__item-col-big">
                <a href="catalog.html" class="menu-catalog__item">
                    <img class="menu-catalog__item-img" src="/dist/img/slider-bg-1.jpg" alt=""/>
                    <span class="menu-catalog__item-title">Женская коллекция</span>
                </a>
            </div>
            <div class="menu-catalog__item-col menu-catalog__item-col-big">
                <a href="catalog.html" class="menu-catalog__item">
                    <img class="menu-catalog__item-img" src="/dist/img/slider-bg-1.jpg" alt=""/>
                    <span class="menu-catalog__item-title">Женская коллекция</span>
                </a>
            </div>
            <div class="menu-catalog__item-col">
                <a href="catalog.html" class="menu-catalog__item">
                    <img class="menu-catalog__item-img" src="/dist/img/slider-bg-1.jpg" alt=""/>
                    <span class="menu-catalog__item-title">Женская коллекция</span>
                </a>
            </div>
            <div class="menu-catalog__item-col">
                <a href="catalog.html" class="menu-catalog__item">
                    <img class="menu-catalog__item-img" src="/dist/img/slider-bg-1.jpg" alt=""/>
                    <span class="menu-catalog__item-title">Женская коллекция</span>
                </a>
            </div>
            <div class="menu-catalog__item-col">
                <a href="catalog.html" class="menu-catalog__item">
                    <img class="menu-catalog__item-img" src="/dist/img/slider-bg-1.jpg" alt=""/>
                    <span class="menu-catalog__item-title">Женская коллекция</span>
                </a>
            </div>
        </div>
    </nav>
</section>
<section class="section-popular">
    <div class="row">
        <div class="col-xs-9 popular">
            <div class="popular__controls">
                <h3 class="popular__title">Популярные товары</h3>
                <button class="btn btn-default popular__controls-btn active" data-filter=".category-1">Женская
                    коллекция
                </button>
                <button class="btn btn-default popular__controls-btn" data-filter=".category-2">Аксессуары</button>
                <button class="btn btn-default popular__controls-btn" data-filter=".category-3">Меховые шкурки</button>
            </div>
            <div class="popular__list">
                <div class="popular__list-item-col category-1">
                    <div class="popular__list-item">
                        <a href="#" class="popular__list-item-img-wrapper">
                            <img class="popular__list-item-img" src="/dist/img/slider-bg-1.jpg" alt=""/>
                            <span class="popular__list-item-alert">Скидка</span>
                        </a>
                        <a class="popular__list-item-link" href="#">Меховая шуба, соболь соболь соболь соболь соболь</a>

                        <p class="popular__list-item-cost">5600 руб.</p>
                    </div>
                </div>
                <div class="popular__list-item-col category-2">
                    <div class="popular__list-item">
                        <a href="#" class="popular__list-item-img-wrapper">
                            <img class="img img-responsive popular__list-item-img" src="/dist/img/slider-bg-1.jpg"
                                 alt=""/>
                            <span class="popular__list-item-alert">Акция</span>
                        </a>
                        <a class="popular__list-item-link" href="#">Меховая шуба, соболь</a>

                        <p class="popular__list-item-cost">5600 руб.</p>
                    </div>
                </div>
                <div class="popular__list-item-col category-3">
                    <div class="popular__list-item">
                        <a href="#" class="popular__list-item-img-wrapper">
                            <img class="img img-responsive popular__list-item-img" src="/dist/img/slider-bg-1.jpg"
                                 alt=""/>
                            <span class="popular__list-item-alert">Подарок</span>
                        </a>
                        <a class="popular__list-item-link" href="#">Меховая шуба, соболь</a>

                        <p class="popular__list-item-cost">5600 руб.</p>
                    </div>
                </div>
                <div class="popular__list-item-col category-1">
                    <div class="popular__list-item">
                        <a href="#" class="popular__list-item-img-wrapper">
                            <img class="img img-responsive popular__list-item-img" src="/dist/img/slider-bg-1.jpg"
                                 alt=""/>
                            <span class="popular__list-item-alert">Бонус</span>
                        </a>
                        <a class="popular__list-item-link" href="#">Меховая шуба, соболь</a>

                        <p class="popular__list-item-cost">5600 руб.</p>
                    </div>
                </div>
                <div class="popular__list-item-col category-2">
                    <div class="popular__list-item">
                        <a href="#" class="popular__list-item-img-wrapper">
                            <img class="img img-responsive popular__list-item-img" src="/dist/img/slider-bg-1.jpg"
                                 alt=""/>
                            <span class="popular__list-item-alert">Доставка</span>
                        </a>
                        <a class="popular__list-item-link" href="#">Меховая шуба, соболь</a>

                        <p class="popular__list-item-cost">5600 руб. 800 8990 890 dagwjdgywajd agdyawgdyawd auw</p>
                    </div>
                </div>
                <div class="popular__list-item-col category-2">
                    <div class="popular__list-item">
                        <a href="#" class="popular__list-item-img-wrapper">
                            <img class="img img-responsive popular__list-item-img" src="/dist/img/slider-bg-1.jpg"
                                 alt=""/>
                            <span class="popular__list-item-alert">Доставка</span>
                        </a>
                        <a class="popular__list-item-link" href="#">Меховая шуба, соболь</a>

                        <p class="popular__list-item-cost">5600 руб.</p>
                    </div>
                </div>
                <div class="popular__list-item-col category-2">
                    <div class="popular__list-item">
                        <a href="#" class="popular__list-item-img-wrapper">
                            <img class="img img-responsive popular__list-item-img" src="/dist/img/slider-bg-1.jpg"
                                 alt=""/>
                            <span class="popular__list-item-alert">Доставка</span>
                        </a>
                        <a class="popular__list-item-link" href="#">Меховая шуба, соболь</a>

                        <p class="popular__list-item-cost">5600 руб.</p>
                    </div>
                </div>
                <div class="popular__list-item-col category-2">
                    <div class="popular__list-item">
                        <a href="#" class="popular__list-item-img-wrapper">
                            <img class="img img-responsive popular__list-item-img" src="/dist/img/slider-bg-1.jpg"
                                 alt=""/>
                            <span class="popular__list-item-alert">Доставка</span>
                        </a>
                        <a class="popular__list-item-link" href="#">Меховая шуба, соболь</a>

                        <p class="popular__list-item-cost">5600 руб.</p>
                    </div>
                </div>
                <div class="popular__list-item-col category-2">
                    <div class="popular__list-item">
                        <a href="#" class="popular__list-item-img-wrapper">
                            <img class="img img-responsive popular__list-item-img" src="/dist/img/slider-bg-1.jpg"
                                 alt=""/>
                            <span class="popular__list-item-alert">Доставка</span>
                        </a>
                        <a class="popular__list-item-link" href="#">Меховая шуба, соболь</a>

                        <p class="popular__list-item-cost">5600 руб.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 tips">
            <h2 class="tips__title">
                Советы портного
            </h2>

            <div class="tips__tip">
                <div class="tips__tip-img-wrapper">
                    <img class="tips__tip-img" src="/dist/img/slider-bg-1.jpg" alt=""/>
                </div>
                <a class="tips__tip-link" href="news_item.html">Как выбрать свой размер?</a>
            </div>
            <div class="tips__tip">
                <div class="tips__tip-img-wrapper">
                    <img class="tips__tip-img" src="/dist/img/slider-bg-1.jpg" alt=""/>
                </div>
                <a class="tips__tip-link" href="#">Как выбрать свой размер?</a>
            </div>
            <div class="tips__tip">
                <div class="tips__tip-img-wrapper">
                    <img class="tips__tip-img" src="/dist/img/slider-bg-1.jpg" alt=""/>
                </div>
                <a class="tips__tip-link" href="#">Как выбрать свой размер?</a>
            </div>
        </div>
    </div>
</section>
</div>
<div class="sections sections-transparent">
    <div class="row">
        <div class="individual-coat">
            <div class="col-xs-7">
                <div class="individual-coat__body">
                    <h3 class="individual-coat__body-title">
                        Хотите шубу по индивидуальным меркам?
                    </h3>

                    <p class="individual-coat__body-text">
                        Вы можете оставить заявку в разделе
                    </p>
                    <a class="btn btn-default individual-coat__body-btn" href="poshiv.html">Оставить заявку</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="sections sections-footer">
    <div class="footer">
        <div class="row">
            <div class="col-xs-3">
                <h4 class="footer__list-title">
                    Каталог
                </h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Женская коллекция
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Аксессуары
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Меховые шкурки
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3">
                <h4 class="footer__list-title">
                    Ателье
                </h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Ремонт одеждны
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Пошив на заказ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3">
                <h4 class="footer__list-title">
                    Русский шик
                </h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Оптовым клиентам
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Оплата и доставка
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3">
                <p class="footer__about-title">
                    2002 - 2014 &copy; Русский шик
                </p>
                <a class="footer__about-phone" href="#">
                    8 (391) 245 56 43
                </a>
            </div>
        </div>
    </div>






</div>
<div class="sections sections-footer-developer">
    <div class="row">
        <div class="col-xs-12 footer__developer">
            <div class="row">
                <div class="col-xs-3 col-xs-push-9 footer__developer-col">
                    <a class="footer__developer-about" href="http://bureauit.ru/">
                        <span class="icon icon-develop-hover footer__developer-about-icon"></span>
                        Разработка сайта
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<script src="dist/js/libs.js"></script>
<script src="dist/js/suite.js"></script>
<!--<script src="dist/js/suite.min.js"></script>-->
</body>
</html>