<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="/dist/css/style.css"/>
    <link rel="stylesheet" href="/dist/css/libs.css"/>
    <!--<link rel="stylesheet" href="dist/css/style.min.css"/>-->
    <!--[if lt IE 9]>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 8]>
<style>
    .browsehappy {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }
</style>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
<!--<script src="dist/js/main.min.js"></script>-->

<div class="container">
<div class="sections">
<section class="header">
    <div class="row">
        <div class="col-xs-4">
            <div class="header__logo-wrapper">
                <div class="header__logo">
                    <img class="img img-responsive header__logo-img" src="../src/img/logo.png" alt=""/>

                    <p class="header__logo-text">
                        Изделия из меха
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
            <div class="header__menu-wrapper">
                <ul class="header__menu-list">
                    <li class="header__menu-list-item">
                        <a class="header__menu-list-item-link" href="#">Доставка и оплата
                        </a>
                    </li>
                    <li class="header__menu-list-item">
                        <a class="header__menu-list-item-link" href="#">Оптовым клиентам
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="header__menu-wrapper">
                <ul class="header__menu-list">
                    <li class="header__menu-list-item">
                        <a class="header__menu-list-item-link" href="#">О компании
                        </a>
                    </li>
                    <li class="header__menu-list-item">
                        <a class="header__menu-list-item-link" href="#">Контакты
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="header__phone-wrapper-container">
                <div class="header__phone-wrapper">
                    <a class="header__phone-link" href="#">
                        <span class="icon icon-phone header__phone-icon"></span>
                        8 (391) 245-56-43
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="menu">
    <nav>
        <ul class="menu__list">
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="/src/catalog.html">
                    Женщинам
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="#">
                    Аксессуары
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="#">
                    Ремонт одежды
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="#">
                    Пошив на заказ
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="#">
                    Меховые шкурки
                </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-item-link" href="#">
                    Советы портного
                </a>
            </li>
        </ul>
    </nav>
</section>
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="goods__breadcrumb">
                <ol class="breadcrumb goods__breadcrumb-list">
                    <li class="goods__breadcrumb-item"><a class="goods__breadcrumb-item-link" href="index.html">Главная</a></li>
                    <li class="goods__breadcrumb-item"><a class="goods__breadcrumb-item-link" href="#">Женщинам</a></li>
                    <li class="active">Полупальто из норки</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="goods" itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <h1 style="display:none;" itemprop="name">Русский Шик</h1>
        <div class="col-xs-4" >

            <div class="goods__photo-wrapper">
                <div class="goods__photo-main">
                    <a class="goods__photo-main-link">
                        <div class="goods__photo-main-img-wrapper fancybox-thumb" rel="fancybox-thumb" href="/dist/img/item_foto.png">
                            <img itemprop="image" class="goods__photo-main-img" src="/src/img/item_foto.png" alt="#"/>
                        </div>
                    </a>
                </div>
                <div class="goods__photo-small">
                    <div class="row">
                        <div class="col-xs-6 goods__photo-small-left">
                            <a class="goods__photo-small-link">
                                <div class="goods__photo-small-img-wrapper fancybox-thumb" rel="fancybox-thumb" href="/dist/img/item_foto.png">
                                    <img class="goods__photo-small-img" src="/dist/img/item_foto.png" alt="#"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 goods__photo-small-rigth">
                            <a class="goods__photo-small-link">
                                <div class="goods__photo-small-img-wrapper fancybox-thumb" rel="fancybox-thumb" href="/dist/img/item_foto.png">
                                    <img class="goods__photo-small-img" src="/dist/img/item_foto.png" alt="#"/>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">

                    <h1 itemprop="model" class="goods__item-title">Полупальто из норки</h1>

                </div>
                <div class="col-xs-5 goods new_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <div class="goods__sale" >
                        <h2 class="goods__sale-title" >цена со скидкой:</h2>
                        <p class="goods__sale-price" itemprop="Price" >15 400 <span class="goods__sale-span">руб.</span></p>
                        <meta itemprop="priceCurrency" content="RUB">
                    </div>
                </div>
                <div class="col-xs-5 goods old_price">
                    <div class="goods__old">
                        <h2 class="goods__old-title">старая цена:</h2>

                        <p class="goods__old-price">10 500 <span class="goods__old-span">руб.</span></p>
                    </div>
                </div>
                <div class="col-xs-12" itemprop="offers" itemscope itemtype="http://schema.org/Product">
                    <div class="goods__size">
                        <p class="goods__size-text" >размер:</p>
                        <a class="goods__size-about" href="#">Как выбрать размер?</a>
                        <ul class="goods__list" >
                            <li class="goods__list-item" >
                                <input class="goods__list-item-chk" checked type="radio" name="size" id="size"/>
                                <label class="goods__list-item-chk-size" for="size"><b><span itemprop="height">44</span></b> (170x44x60)</label>
                            </li>
                            <li class="goods__list-item">
                                <input class="goods__list-item-chk" type="radio" name="size" id="size2"/>
                                <label class="goods__list-item-chk-size" for="size2"><b><span itemprop="height">45</span></b> (170x44x60)</label>
                            </li>
                            <li class="goods__list-item">
                                <input class="goods__list-item-chk" type="radio" name="size" id="size3"/>
                                <label class="goods__list-item-chk-size" for="size3"><b><span itemprop="height">46</span></b> (170x44x60)</label>
                            </li>
                            <li class="goods__list-item">
                                <input class="goods__list-item-chk" type="radio" name="size" id="size4"/>
                                <label class="goods__list-item-chk-size" for="size4"><b><span itemprop="height">47</span></b> (170x44x60)</label>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">

                    <h2 class="goods__amount-title">количество (шт.):</h2>

                    <div class="goods__amount-box">
                        <a class="goods__amount-box-minus" id="minus" href="#"></a>
                        <input type="text" autocomplete="off" value="1" id="amount" class="goods__amount-box-value"/>
                        <span><a class="goods__amount-box-plus" href="#"></a></span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <a class="btn btn-default goods__buy" href="#">Купить в 1 клик</a>
                    <a class="goods__available" href="#">Товар в наличии</a>
                    <a class="goods__adress" href="#">Адрес магазина</a>
                </div>
                <div class="col-xs-12 goods__about">
                    <ul class="nav nav-tabs goods__about-tabs">
                        <li class="active">
                            <input class="goods__about-hidden" checked type="radio" name="about" id="description"/>
                            <label  class="goods__about-visible" for="description">Описание</label>
                        </li>
                    </ul>
                    <div class="goods__about-item">
                        <p class="goods__about-text" itemprop="description">Полупальто с капюшоном из клеточной норки классического цвета.
                            Произведено мастерами нашего ателье.</p>

                        <p class="goods__about-text">Верхняя одежда из норки является классическим и элегантным выбором,
                            не
                            теряющим свою актуальность на протяжении многих лет.</p>
                        <table class="goods__about-table">
                            <tr>
                                <td class="goods__about-table-left">Артикул:</td>
                                <td class="goods__about-table-right" itemprop="productID">500</td>
                            </tr>
                            <tr>
                                <td class="goods__about-table-left" >Цвет:</td>
                                <td class="goods__about-table-right" itemprop="color">натуральный, СТК</td>
                            </tr>
                            <tr>
                                <td class="goods__about-table-left" >Материал:</td>
                                <td class="goods__about-table-right" >норка клеточная натуральная</td>
                            </tr>
                            <tr>
                                <td class="goods__about-table-left">Производство:</td>
                                <td class="goods__about-table-right" itemprop="manufacturer">Ателье «Русский Шик», Россия</td>
                            </tr>


                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="searched">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="searched__title">Вы просматривали</h1>
        </div>
        <div class="col-xs-3 searched__item">
            <div class="searched__item-photo">
                <a class="searched__item-photo-link" href="#">
                    <div class="searched__item-photo-img-wrapper">
                        <img class="searched__item-photo-img" src="/src/img/model_img.png" alt="#"/>
                        <span class="searched__item-new-alert">new</span>
                    </div>
                </a>
            </div>
            <a class="catalog__grid-item-model">Название модели шубы</a>

            <p class="catalog__grid-item-price">5600 руб.</p>

            <p class="catalog__grid-item-price-old"></p>
        </div>
        <div class="col-xs-3 searched__item">
            <div class="searched__item-photo">
                <a class="searched__item-photo-link" href="#">
                    <div class="searched__item-photo-img-wrapper">
                        <img class="searched__item-photo-img" src="/src/img/model_img.png" alt="#"/>
                        <span class="searched__item-sale-alert">sale</span>
                    </div>
                </a>
            </div>
            <a class="catalog__grid-item-model">Название модели шубы</a>

            <p class="catalog__grid-item-price">5600 руб.</p>

            <p class="catalog__grid-item-price-old">6800 руб.</p>
        </div>
        <div class="col-xs-3 searched__item">
            <div class="searched__item-photo">
                <a class="searched__item-photo-link" href="#">
                    <div class="searched__item-photo-img-wrapper">
                        <img class="searched__item-photo-img" src="/src/img/model_img.png" alt="#"/>
                        <span class="searched__item-new-alert">new</span>
                    </div>
                </a>
            </div>
            <a class="catalog__grid-item-model">Название модели шубы</a>

            <p class="catalog__grid-item-price">5600 руб.</p>

            <p class="catalog__grid-item-price-old"></p>
        </div>
        <div class="col-xs-3 searched__item">
            <div class="searched__item-photo">
                <a class="searched__item-photo-link" href="#">
                    <div class="searched__item-photo-img-wrapper">
                        <img class="searched__item-photo-img" src="/src/img/model_img.png" alt="#"/>
                        <span class="searched__item-sale-alert">sale</span>
                    </div>
                </a>
            </div>
            <a class="catalog__grid-item-model">Название модели шубы</a>

            <p class="catalog__grid-item-price">5600 руб.</p>

            <p class="catalog__grid-item-price-old">6800 руб.</p>
        </div>

    </div>
    
</section>


</div>
<div class="sections sections-transparent">
    <div class="row">
        <div class="individual-coat">
            <div class="col-xs-7">
                <div class="individual-coat__body">
                    <h3 class="individual-coat__body-title">
                        Хотите шубу по индивидуальным меркам?
                    </h3>

                    <p class="individual-coat__body-text">
                        Вы можете оставить заявку в разделе
                    </p>
                    <a class="btn btn-default individual-coat__body-btn" href="#">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sections sections-footer">
    <div class="footer">
        <div class="row">
            <div class="col-xs-3">
                <h4 class="footer__list-title">
                    Каталог
                </h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Женская коллекция
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Аксессуары
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Меховые шкурки
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3">
                <h4 class="footer__list-title">
                    Каталог
                </h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Женская коллекция
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Аксессуары
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3">
                <h4 class="footer__list-title">
                    Каталог
                </h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Женская коллекция
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Аксессуары
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-item-link" href="#">
                            Меховые шкурки
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3">
                <p class="footer__about-title">
                    2002 - 2014 &copy; Русский шик
                </p>
                <a class="footer__about-phone" href="#">
                    8 (391) 245 56 43
                </a>
            </div>
        </div>
    </div>






</div>
<div class="sections sections-footer-developer">
    <div class="row">
        <div class="col-xs-12 footer__developer">
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-3">
                    <a class="footer__developer-about" href="http://bureauit.ru/">
                        <span class="icon icon-develop-hover footer__developer-about-icon"></span>

                        Разработка сайта
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<script src="dist/js/libs.js"></script>
<script src="dist/js/suite.js"></script>
<!--<script src="dist/js/suite.min.js"></script>-->
</body>
</html>